<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
    <body class="grey-bg">

        <!--
        %은 html사이에 자바스크립트 문법을 쓸 때 사용
        %-은 include문법 같은거 쓸 때 사용
        %=은 %-랑 유사하지만 %= 사이에 데이터가 html 파일이라고 가정하면 %=은 들어간 데이터가 고대로 나오지만 %-은 실제 html처럼 출력됨

        include()를 쓰면 다른 ejs파일에 있던 html 복사해올 수 있음
        -->

        <%- include('nav.ejs') %>

        <%= JSON.stringify(result) %>
        
        <div class="detail-bg">
            <div class="chat-screen">
              <div class="chat-box"><span>안녕하세요</span></div>
              <div class="chat-box"><span>안녕하세요</span></div>
              <div class="chat-box mine"><span>안녕하세요</span></div>
            </div>
          </div>
          <div class="chat-form">
            <input class="chat-input">
            <button class="chat-button">전송</button>
      </div> 

      <!-- html파일에 socket.io 라이브러리 설치 코드 -->
      <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
      <script>
        const socket = io() 
        socket.emit('sdk-join', '1')

        document.querySelector('.chat-button').addEventListener('click', function() {
            socket.emit('message', {msg : '반가워', room : '1'})
        })
        
        socket.on('broadcast', (data)=> {
            console.log(data)
        })
      </script>

    </body>
</html>